/*

    main.css is the usual name for a CSS which will be used on all/most pages.
*/
/*
body{
 background-color:#1F271B;
}

.box{
   color: aliceblue; 
   border: 1px none rgb(229, 234, 231);
   border-bottom: 1px solid rgb(229, 234, 231);
  font-size: xx-large;
  width: 1450px;
  margin-left: -10px;
  margin-top: -50px;
  height: 100px;
background-color: rgba(17, 7, 7, 0.361);
}
h3{
    margin-top: 50px;
    margin-left: 20px;
    

}



.money{
    display: flex;
flex-direction: row;
gap: 200px 80px;
justify-content: start;
margin-top: 15px;
}
#gold-icon{
    width: 30px;
  
}
#wood-icon{
    width: 30px;
}
#metal-icon{
    width: 30px;
}

#warrior-txt{
    margin-top: 80px;
    margin-left: 150px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
font-family: 'Times New Roman', Times, serif;


}
.warriors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 100px;
    margin-left: 150px;
    margin-bottom: 300px;
    column-gap: 50px;
    margin-top: -20px;
      color: white;

} 

#button{
    padding: 5px;
    width: 200px;

    margin-top: 5px;
    background-color: rgb(189, 56, 56);
    color: white;
}
#button img{
    width: 10px;
    height: 10px;
}

/*Nødvendig med egne warrior id? Endre størrelse 
.warrior-1{   
    border: 2px solid rgb(124, 36, 36);
    box-shadow: 2px 3px 2px rgb(23, 21, 21);
    width: 200px;
    height: 400px;
    object-fit: cover;
 

}
.warrior-1 img{
    width: 200px;
    height: 400px;
}

.warrior-2{
    border: 5px solid rgb(189, 56, 56);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 200px;
    height: 400px;
    object-fit: cover;
    
}

.warrior-2 img{
    width: 200px;
    height: 400px;
}
.warrior-3{
    border: 5px solid rgb(189, 56, 56);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 200px;
    height: 400px;
    object-fit: cover;
     
}
.warrior-3 img{
    width: 200px;
    height: 400px;
}
        
.warrior-4{
    border: 5px solid rgb(189, 56, 56);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 200px;
    height: 400px;
    object-fit: cover;
         
}
.warrior-4 img{
    width: 200px;
    height: 400px;
}
 
.warrior-5{
    border: 5px solid rgb(189, 56, 56);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 200px;
    height: 400px;
    object-fit: cover;
 }
.warrior-5 img{
    width: 200px;
    height: 400px;
}
.warrior-6{
    border: 5px solid rgb(189, 56, 56);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 200px;
    height: 400px;
    object-fit: cover;
 
                    }
.warrior-6 img{
    width: 200px;
    height: 400px;
}




*/


body {
    background-color: #2c3229;
}

.box {
    color: aliceblue; 
    border: 1px none rgb(229, 234, 231);
    border-bottom: 1px solid rgb(229, 234, 231);
    font-size: xx-large;
    width: 1450px;
    margin-left: -10px;
    margin-top: -50px;
    height: 100px;
    background-color: rgba(17, 7, 7, 0.361);
}

h3 {
    margin-top: 50px;
    margin-left: 20px;
}

.money {
    display: flex;
    flex-direction: row;
    gap: 200px 80px;
    justify-content: start;
    margin-top: 15px;
}

#gold-icon, #wood-icon, #metal-icon {
    width: 30px;
}

#warrior-txt {
    margin-top: 80px;
    margin-left: 150px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.warrior-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 100px;
    margin-left: 150px;
    margin-bottom: 300px;
    column-gap: 50px;
    margin-top: -20px;
    color: white;
}

.product-box {
    border: 5px solid rgb(189, 56, 56);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 200px;
    height: 400px;
    object-fit: cover;
}


.product-box img {
    width: 200px;
    height: 400px;
}

#button {
    padding: 5px;
    width: 200px;
    margin-top: 5px;
    background-color: rgb(189, 56, 56);
    color: white;
}
.buy-button {
    padding: 10px 30px;
    margin-top: -50px;
    margin-left: 60px;
    background-color: rgb(189, 56, 56);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
h3{
    margin-top: 1px;
    margin-left: 75px;
}

.buy-button:hover {
    background-color: rgb(150, 45, 45);
   
}

#button img {
    width: 10px;
    height: 10px;
}

h1 {
    margin: 50px;
    color: white;
}

.product-box2 {
    border: 5px solid rgb(246, 241, 241);
    box-shadow: 2px 3px 2px rgb(22, 22, 27);
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.product-box2 img {
    width: 400px;
    height: 400px;
}
#weapon-txt{
    margin-top: -100px;
    margin-left: 150px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.weapon-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
<<<<<<< Updated upstream
    gap: 100px 50px;
    margin-top: 10px;
}


/*Page 3 */
h1{
    margin: 50px;
    color: white;
}

.your-warriors{
display: grid;
grid-template-columns: repeat(12, 1fr);


}
.your-weapons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}
=======
    gap: 50px 70px;
    margin-top: -100px;
}


/*
Your-army page 
*/

.Title{
    font-size: 30px;
    margin-left: 0;
    margin-top: 110px;
    color: white;
}



.main-coin{
    width: 45px;
    margin-bottom: 0;
    margin-top: 70px;
    margin-left: 260px; 
}

.main-metal{
    width: 45px;
    margin-bottom: 0;
    margin-top: 70px;
    margin-left: 370px; 
}

.main-wood{
    width: 45px;
    margin-bottom: 0;
    margin-top: 70px;
    margin-left: 370px; 
}

.website{
    color: white;
    font-size: 17px;
    border: 4px solid rgb(5, 26, 10);
    background-color: rgb(28, 38, 11);
}

.home-page{
    margin-left: 895px;
}

.resource-page{
    margin-left: 70px;
}

.army-page{
    margin-left: 60px;
}
>>>>>>> Stashed changes
